* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* =====================
   TEMA CLARO (PADRÃO)
===================== */
:root {
  --bg-primary: #f5f7fb;
  --bg-secondary: #ffffff;

  --text-primary: #0f172a;
  --text-secondary: #475569;

  --header-primary: #f0f0f0;
  --header-secondary: #ffffff;
  --header-text: #0f172a;

  --btn-primary: #f5f5f5;

  --card-bg: #e1e1e1;
  --border-color: #bdc0c5;

  --accent: #007aff;
  --switch-thumb-color: #363538;

  --theme-switch: #d8d8d8;


}

/* =====================
   TEMA ESCURO
===================== */
[data-theme="dark"] {
  --bg-primary: #0f172a;
  --bg-secondary: #161b22;

  --text-primary: #e6e6e6;
  --text-secondary: #9ca3af;

  --header-primary: #0d1117;
  --header-secondary: #121e39;
  --header-text: #e6e6e6;

  --btn-primary: #f5f5f5;

  --card-bg: #111827;
  --border-color: #1f2937;

  --accent: #007aff;
  --switch-thumb-color: #363538;

  --theme-switch: #9ca3af;
}

/* =====================
   BASE
===================== */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.6;
  padding-top: 80px;
}

.main {
  width: 100%;
  padding: 2rem 1rem;
  /* margin: auto; */
}

/* =====================
   HEADER (CORRIGIDO)
===================== */
header {
  background: var(--header-primary);
  color: var(--header-text);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.header-hidden {
  transform: translateY(-100%);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 80px; */
  padding: 1.5rem;
}

header {
  transition: transform 0.3s ease;
}


/* =====================
   MENU
===================== */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background: var(--text-primary);
  border-radius: 2px;
  transition: 0.3s;
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background: var(--header-primary);
  display: none;
  z-index: 1100;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav li {
  border-top: 1px solid var(--border-color);
}

.nav a {
  display: block;
  padding: 15px;
  color: var(--header-text);
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  background: rgba(255, 255, 255, 0.05);
}

.nav.active {
  display: block;
}

/* =====================
   SWITCH DE TEMA
===================== */
.theme-switch {
  width: 44px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid var(--switch-thumb-color);
  position: relative;
  cursor: pointer;
  background-color: var(--theme-switch);
}

.switch-thumb {
  width: 15px;
  height: 15px;
  background-color: var(--switch-thumb-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: left 0.3s ease, 0.3s ease;
}

[data-theme="dark"] .switch-thumb {
  left: 25px;
}

/* =====================
   BOTÕES
===================== */
.btn-primary {
  background: var(--accent);
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
}

/* =====================
   SECTIONS
===================== */
.section {
  padding: 3rem 0;
}

.section-dark {
  background: var(--bg-secondary);
}

.hero .btn-proj {
  background-color: var(--accent);
  padding: 10px;
  color: var(--btn-primary);
  border-radius: 12px;
  border: 1px solid var(--header-primary);
  font-weight: bold;
  
  
}

.hero a {
  text-decoration: none;
  color: inherit;
}

.hero {
  min-height: 50vh;              
  display: flex;
  align-items: center;  
  text-align: center; 
         
}

.hero p {
  margin-bottom: 20px;
}



.card {
  border: 2px solid var(--border-color);
  background-color: var(--card-bg);
  border-radius: 8px;
  margin-top: 20px;
}

.card a  {
  text-decoration: none;
  color: inherit;
}

.card img {
   display: block;
  margin: 0 auto;
  max-height: 250px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card h4 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.card p {
  display: flex;
  padding: 1rem;
}


.skill-card {
  max-width: 346px;
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 14px;
  padding: 1.4rem;
  color: var(--accent);
  transition: 0.3s ease;
   margin-top: 20px;
  
}

/* .skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
} */

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.skill-header h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.skill-level {
  background: var(--header-text);
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 500;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.skill-list li {
  position: relative;
  padding-left: 1.2rem;
  font-size: 0.9rem;
  color: var(--text-primary);
}

.skill-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--header-text);
}


#contato a {
  text-decoration: none;
  color: inherit;
}



#contato .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
  font-size: 1.5rem;
  padding: 3rem;
  color: var(--accent);
}


footer {
  background: var(--header-primary);
  color: var(--text);
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8rem;
  
}

footer p,
footer small {
  margin: 0.3rem 0;
}

footer .socials {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

footer .socials a {
  font-size: 1rem;
  color: var(--header-text);
  transition: 0.3s ease;
}

footer .socials a:hover {
  color: var(--accent);
  transform: translateY(-3px);
}

    






@media (min-width: 768px) { }
@media (min-width: 1024px) { }